<main class="main relative dark:bg-gray-900">
  <!-- Sección Hero -->
  <section
    id="support"
    class="animated-background relative overflow-hidden bg-primary pt-[120px] text-primary-color md:pt-[90px] lg:pt-[90px]"
  >
    <section class="container">
      <article class="flex flex-col items-center md:flex-row">
        <!-- Texto -->
        <section class="scroll-revealed w-full space-y-4 text-center md:w-1/2 md:text-left">
          <h1 class="text-4xl font-bold text-slate-50 md:text-5xl lg:text-6xl">
            Soporte Técnico Profesional
          </h1>
          <p class="text-lg text-gray-100 md:text-xl">
            Soluciones rápidas y efectivas para mantener tu tecnología funcionando sin problemas.
          </p>
          <section class="flex justify-center gap-4 md:justify-start">
            <a
              href="#contact"
              class="rounded bg-white px-6 py-3 font-semibold text-primary hover:bg-gray-100"
            >
              Solicitar Soporte
            </a>
            <a
              href="#services"
              class="rounded border border-white px-6 py-3 font-semibold text-white hover:bg-white/10"
            >
              Ver Servicios
            </a>
          </section>
        </section>
        <!-- Imagen -->
        <figure class="scroll-revealed mt-8 w-full md:mt-0 md:w-1/2">
          <img
            src="../../../assets/img/icons/SoporteTecnico.png"
            alt="Soporte Técnico"
            class="mx-auto max-w-md"
          />
        </figure>
      </article>
    </section>
  </section>

  <main class="font-sans">
    <!-- Carrusel -->
    <section class="fade-in relative py-12">
      <article class="bg container mx-auto text-center">
        <!-- Contenedor del carrusel -->
        <section class="relative overflow-hidden rounded-lg shadow-lg">
          <!-- Slides -->
          <article id="carousel-slides" class="flex transition-transform duration-700 ease-in-out">
            <!-- Slide 1 -->
            <section
              class="flex h-[400px] min-w-full items-center"
              style="
                background-image: url(https://images.pexels.com/photos/8867431/pexels-photo-8867431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                background-position: center;
                background-size: cover;
              "
            >
              <!-- Contenedor para imagen -->
              <figure class="flex w-1/2 justify-center">
                <img
                  src="https://cdn-icons-png.freepik.com/512/4296/4296542.png?ga=GA1.1.980721359.1731435681"
                  alt="Icono 1"
                  class="h-48 w-auto"
                />
              </figure>
              <!-- Contenedor para texto -->
              <section class="w-1/2 px-8 text-left">
                <h2
                  class="font-bold text-white sm:text-3xl md:text-4xl lg:text-7xl"
                  style="
                    text-shadow:
                      -2px -2px 0 #000,
                      2px -2px 0 #000,
                      -2px 2px 0 #000,
                      2px 2px 0 #000;
                  "
                >
                  Mantenimiento Preventivo
                </h2>
                <p
                  class="md:text-4x1 lg:text-7x1 mt-4 text-white sm:text-2xl"
                  style="
                    text-shadow:
                      -1px -1px 0 #000,
                      1px -1px 0 #000,
                      -1px 1px 0 #000,
                      1px 1px 0 #000;
                  "
                >
                  Protege tus equipos con revisiones periódicas.
                </p>
              </section>
            </section>

            <!-- Slide 2 -->
            <section
              class="flex h-[400px] min-w-full items-center"
              style="
                background-image: url(https://sistemasperuweb.com/web/wp-content/uploads/2023/05/connecting-you-is-what-they-do-shot-of-two-techni-2022-10-05-17-50-44-utc-1.jpg);
                background-position: center;
                background-size: cover;
              "
            >
              <!-- Contenedor para imagen -->
              <figure class="flex w-1/2 justify-center">
                <img
                  src="https://cdn-icons-png.freepik.com/512/3380/3380849.png?ga=GA1.1.980721359.1731435681"
                  alt="Icono 2"
                  class="h-48 w-auto"
                />
              </figure>
              <!-- Contenedor para texto -->
              <section class="w-1/2 px-8 text-left">
                <h2
                  class="font-bold text-white sm:text-3xl md:text-4xl lg:text-7xl"
                  style="
                    text-shadow:
                      -2px -2px 0 #000,
                      2px -2px 0 #000,
                      -2px 2px 0 #000,
                      2px 2px 0 #000;
                  "
                >
                  Reparaciones Urgentes
                </h2>
                <p
                  class="md:text-4x1 lg:text-7x1 mt-4 text-white sm:text-2xl"
                  style="
                    text-shadow:
                      -1px -1px 0 #000,
                      1px -1px 0 #000,
                      -1px 1px 0 #000,
                      1px 1px 0 #000;
                  "
                >
                  Resolvemos problemas técnicos rápidamente.
                </p>
              </section>
            </section>

            <!-- Slide 3 -->
            <section
              class="flex h-[400px] min-w-full items-center"
              style="
                background-image: url(https://img.freepik.com/vector-gratis/fondo-centro-datos-simbolos-planificacion-ciclo-vida-ilustracion-vectorial-plana_1284-83980.jpg?t=st=1732863705~exp=1732867305~hmac=9a0cbb5bce83c5ccfd5421fe1a66ec8b205e01290f891aa0f2141dfb3cdc9883&w=1380);
                background-position: center;
                background-size: cover;
              "
            >
              <!-- Contenedor para texto -->
              <section class="w-1/2 px-8 text-left">
                <h2
                  class="font-bold text-white sm:text-3xl md:text-4xl lg:text-7xl"
                  style="
                    text-shadow:
                      -2px -2px 0 #000,
                      2px -2px 0 #000,
                      -2px 2px 0 #000,
                      2px 2px 0 #000;
                  "
                >
                  Optimización de Sistemas
                </h2>
                <p
                  class="md:text-4x1 lg:text-7x1 mt-4 text-white sm:text-2xl"
                  style="
                    text-shadow:
                      -1px -1px 0 #000,
                      1px -1px 0 #000,
                      -1px 1px 0 #000,
                      1px 1px 0 #000;
                  "
                >
                  Mejora el rendimiento de tus dispositivos.
                </p>
              </section>
            </section>
          </article>

          <!-- Indicadores -->
          <section class="absolute bottom-4 left-1/2 flex -translate-x-1/2 transform space-x-3">
            <button
              class="h-4 w-4 rounded-full bg-white opacity-50 transition-opacity hover:opacity-100"
              data-slide="0"
              type="button"
              aria-label="Go to slide 1"
            ></button>
            <button
              class="h-4 w-4 rounded-full bg-white opacity-50 transition-opacity hover:opacity-100"
              data-slide="1"
              type="button"
              aria-label="Go to slide 2"
            ></button>
            <button
              class="h-4 w-4 rounded-full bg-white opacity-50 transition-opacity hover:opacity-100"
              data-slide="2"
              type="button"
              aria-label="Go to slide 3"
            ></button>
          </section>
        </section>
      </article>
    </section>
    <section id="b">
      <!-- Servicios -->
      <section id="services" class="fade-in py-16 dark:bg-gray-800">
        <article class="container mx-auto text-center">
          <h3 class="mb-8 text-3xl font-bold text-slate-800 dark:text-slate-100">
            Nuestros Servicios
          </h3>
          <section class="grid grid-cols-1 gap-8 md:grid-cols-3">
            <!-- Tarjeta 1 -->
            <article
              class="hover-card flex flex-col items-center rounded-lg bg-white p-6 shadow-lg transition-transform duration-300 dark:bg-gray-700"
            >
              <figure>
                <img
                  src="https://cdn-icons-png.freepik.com/512/1024/1024752.png?ga=GA1.1.980721359.1731435681"
                  class="mb-4 h-12 w-12"
                  alt="Icono de Asistencia Remota"
                />
              </figure>
              <h4 class="mb-4 text-xl font-semibold text-indigo-600 dark:text-indigo-300">
                Asistencia Remota
              </h4>
              <p class="text-slate-700 dark:text-slate-200">
                Soporte inmediato desde cualquier lugar.
              </p>
            </article>

            <!-- Tarjeta 2 -->
            <article
              class="hover-card flex flex-col items-center rounded-lg bg-white p-6 shadow-lg transition-transform duration-300 dark:bg-gray-700"
            >
              <figure>
                <img
                  src="https://cdn-icons-png.freepik.com/512/16783/16783798.png?ga=GA1.1.980721359.1731435681"
                  class="mb-4 h-12 w-12"
                  alt="Icono de Instalación de Redes"
                />
              </figure>
              <h4 class="mb-4 text-xl font-semibold text-blue-600 dark:text-blue-400">
                Instalación de Redes
              </h4>
              <p class="text-gray-600 dark:text-gray-300">
                Configuración y mantenimiento de redes empresariales.
              </p>
            </article>

            <!-- Tarjeta 3 -->
            <article
              class="hover-card flex flex-col items-center rounded-lg bg-white p-6 shadow-lg transition-transform duration-300 dark:bg-gray-700"
            >
              <figure>
                <img
                  src="https://cdn-icons-png.freepik.com/512/13018/13018849.png?ga=GA1.1.980721359.1731435681"
                  class="mb-4 h-12 w-12"
                  alt="Icono de Seguridad Informática"
                />
              </figure>
              <h4 class="mb-4 text-xl font-semibold text-blue-600 dark:text-blue-400">
                Seguridad Informática
              </h4>
              <p class="text-gray-600 dark:text-gray-300">
                Protege tus datos de posibles amenazas.
              </p>
            </article>
          </section>
        </article>
      </section>

      <!-- Nosotros -->
      <section id="about" class="fade-in bg-gradient-to-r py-16">
        <article class="container mx-auto text-center">
          <h3 class="mb-6 text-3xl font-semibold text-indigo-700 dark:text-indigo-300">
            ¿Por qué elegirnos?
          </h3>
          <p class="mx-auto max-w-3xl text-lg text-slate-700 dark:text-slate-200">
            Somos especialistas en soporte técnico con años de experiencia ayudando a empresas a
            resolver sus problemas tecnológicos. Nuestro equipo garantiza soluciones rápidas y
            efectivas para que tu negocio nunca se detenga.
          </p>
        </article>
      </section>
    </section>
  </main>
</main>

<section class="animated-background bg-primary py-16">
  <section class="container">
    <article class="grid grid-cols-2 gap-8 text-center md:grid-cols-4">
      <figure class="scroll-revealed">
        <strong class="text-4xl font-bold text-slate-50">500+</strong>
        <figcaption class="mt-2 text-gray-100">Clientes Satisfechos</figcaption>
      </figure>
      <figure class="scroll-revealed">
        <strong class="text-4xl font-bold text-slate-50">1000+</strong>
        <figcaption class="mt-2 text-gray-100">Problemas Resueltos</figcaption>
      </figure>
      <figure class="scroll-revealed">
        <strong class="text-4xl font-bold text-slate-50">24/7</strong>
        <figcaption class="mt-2 text-gray-100">Soporte Disponible</figcaption>
      </figure>
      <figure class="scroll-revealed">
        <strong class="text-4xl font-bold text-slate-50">12+</strong>
        <figcaption class="mt-2 font-bold text-slate-50">Años de Experiencia</figcaption>
      </figure>
    </article>
  </section>
</section>

<!-- Nosotros -->
<section id="contact" class="section-area bg-gray-50 dark:bg-gray-800">
  <article class="container">
    <header class="mx-auto max-w-[550px] text-center">
      <h2 class="mb-8 text-indigo-700 dark:text-indigo-300">¿Necesitas Ayuda Técnica?</h2>
      <p class="mb-8 text-slate-700 dark:text-slate-200">
        Nuestro equipo de expertos está listo para ayudarte. Contáctanos ahora y obtén una solución
        rápida a tus problemas técnicos.
      </p>
      <nav class="flex justify-center gap-4">
        <a
          href="#"
          class="transform rounded-lg bg-indigo-600 px-8 py-3 text-lg font-bold text-white shadow-lg transition-all duration-300 hover:bg-indigo-700"
        >
          Contactar Ahora
        </a>
      </nav>
    </header>
  </article>
</section>
