<section
  class="bg-blue-700 bg-opacity-90 px-8 py-16 text-white dark:bg-blue-900 dark:bg-opacity-90 dark:text-gray-300"
></section>
<section class="bg-gray-50 px-4 py-16 dark:bg-gray-800 dark:text-white">
  <article class="mx-auto flex max-w-7xl flex-col gap-8 lg:flex-row">
    <!-- Contenido principal -->
    <section class="flex-1">
      <!-- Título principal -->
      <h1 class="mb-6 text-center text-2xl font-bold dark:text-gray-100">
        Como saber que tipo de software necesito para mi negocio
      </h1>
      <!-- Imagen principal -->
      <figure>
        <img
          src="assets/imgT/T2.jpg"
          alt="Automatización de procesos"
          class="h-70 w-full object-cover"
        />
      </figure>
      <!-- Redes sociales con íconos -->
      <ul class="flex justify-center gap-4 py-4">
        <!-- Facebook -->
        <li>
          <a
            href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;t=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado"
            class="flex items-center rounded bg-blue-600 px-4 py-2 text-white transition hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-facebook-f mr-2"></i>
            Facebook
          </a>
        </li>
        <!-- Twitter -->
        <li>
          <a
            href="http://twitter.com/share?text=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado&amp;url=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;via=@sistemasperuweb"
            class="flex items-center rounded bg-blue-400 px-4 py-2 text-white transition hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-twitter mr-2"></i>
            Twitter
          </a>
        </li>
        <!-- LinkedIn -->
        <li>
          <a
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;title=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado"
            class="flex items-center rounded bg-blue-800 px-4 py-2 text-white transition hover:bg-blue-900 dark:bg-blue-900 dark:hover:bg-blue-800"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-linkedin-in mr-2"></i>
            LinkedIn
          </a>
        </li>
      </ul>
      <!-- Descripcion principal -->
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        En la era digital actual, contar con un software para negocio adecuado marca la diferencia
        en el éxito empresarial. Hay tantas opciones disponibles en el mercado, que es fundamental
        entender cómo elegir el software adecuado que se ajuste a tus necesidades específicas. En
        este blog, exploraremos ocho puntos clave para ayudarte en el proceso de selección. Desde la
        identificación de tus necesidades hasta la evaluación de las opciones disponibles, aquí
        encontrarás consejos prácticos para tomar una decisión informada y beneficiar a tu empresa.
      </p>

      <!-- Fuente -->
      <figure class="mb-6">
        <img
          src="assets/imgT/Tb.png"
          alt="10 mejores empresas de desarrollo de software"
          class="mx-auto w-3/4 rounded-lg"
        />
        <figcaption class="text-center text-sm text-gray-500 dark:text-gray-400">
          Mercado de software empresarial (2022-2029). Fuente:
          <a
            href="https://www.maximizemarketresearch.com/market-report/global-enterprise-software-market/62644/"
            target="_blank"
            class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500"
          >
            maximizemarketresearch
          </a>
        </figcaption>
      </figure>

      <!-- Subtítulo -->
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">> Desarrollo de software a medida.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Se refiere a la creación de aplicaciones o programas informáticos específicos y
        personalizados para satisfacer las necesidades y requisitos particulares de una
        organización. A diferencia del software comercial o de paquete, que se desarrolla para un
        mercado más amplio y general, el software a medida se adapta a los procesos, flujos de
        trabajo y requerimientos específicos de una empresa o cliente en particular. Veamos qué tipo
        de software necesito para mi negocio.
      </p>

      <!-- Contenido General -->
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">
        1. Evalúa tus necesidades empresariales.
      </h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Antes de comenzar a buscar software, es importante evaluar tus necesidades comerciales.
        Realiza un análisis exhaustivo de los procesos y áreas de tu negocio que requieren
        optimización. Considera aspectos como la gestión de inventario, seguimiento de ventas,
        contabilidad, comunicación interna o atención al cliente. Identificar tus necesidades te
        ayudará a tener claridad sobre las funciones y características que el software debe tener.
      </p>

      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">2. Investiga el mercado.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        El siguiente paso es investigar el mercado para conocer las opciones disponibles. Existen
        diversas categorías de software empresarial, como sistemas de gestión empresarial (ERP),
        sistemas de gestión de relaciones con clientes (CRM), software de contabilidad, herramientas
        de marketing, soluciones de comercio electrónico, entre otros. Investiga, lee reseñas,
        compara características y analiza las opiniones de otros usuarios. Además, verifica la
        reputación y la experiencia de los proveedores en el sector.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">3. Considera la escalabilidad.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Al elegir un software para negocio, es importante considerar la escalabilidad. Piensa en el
        crecimiento futuro de tu negocio y elige un software que pueda adaptarse y escalar a medida
        que tu empresa crezca. Asegúrate de que el software pueda manejar un mayor volumen de datos
        y usuarios, y que pueda integrarse con otras herramientas o sistemas existentes. Un software
        escalable te ahorrará tiempo y dinero a largo plazo.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">4. Prueba las demostraciones.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Solicita demostraciones o pruebas gratuitas del software que estás considerando. Esto te
        permitirá explorar la interfaz, las funcionalidades y la usabilidad del software. Durante la
        prueba, evalúa si el software se ajusta a tus necesidades y si es fácil de usar para tus
        empleados. Considera cómo se integra con tus procesos actuales y si es intuitivo para los
        usuarios.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">5. Considera la seguridad.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        La seguridad de los datos es fundamental en cualquier empresa. Asegúrate de que el software
        que elijas tenga medidas de seguridad sólidas, como encriptación de datos, autenticación de
        usuarios y copias de seguridad regulares. Verifica si el software cumple con las
        regulaciones de seguridad y privacidad aplicables a tu industria.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">6. Evalúa el soporte técnico.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Revisa si el proveedor del software ofrece un buen servicio de atención al cliente y soporte
        técnico. Investiga cómo puedes acceder al soporte técnico, ya sea a través de chat en vivo,
        correo electrónico o teléfono. Es importante contar con ayuda rápida y eficiente en caso de
        problemas o dudas. Lee reseñas y testimonios de otros usuarios para tener una idea de la
        calidad del soporte técnico proporcionado por el proveedor.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">7. Calcula el costo total.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Al elegir un software para negocio, es crucial considerar tanto el costo inicial como los
        gastos continuos asociados. Compara los precios de diferentes proveedores y analiza si
        ofrecen opciones de suscripción mensual o anual. Ten en cuenta que el software puede
        ayudarte a ahorrar costos en otras áreas o aumentar la eficiencia de tu negocio, lo que a
        largo plazo puede compensar una inversión inicial más alta. Realiza un análisis
        costo-beneficio y evalúa cómo el software puede contribuir al crecimiento y rentabilidad de
        tu negocio.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">
        8. Revisa las opiniones y testimonios.
      </h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Antes de tomar una decisión final, lee las opiniones y testimonios de otros usuarios del
        software que estás considerando. Esto te dará una idea más clara de las experiencias reales
        de las personas que ya lo están utilizando. Busca reseñas en sitios web confiables y
        comunidades en línea relacionadas con tu industria. Toma en cuenta tanto las opiniones
        positivas como las negativas para obtener una visión equilibrada del software.
      </p>
      <h2 class="mb-4 text-xl font-bold dark:text-gray-100">Conclusión.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Seleccionar el software adecuado para tu negocio es un proceso crucial que requiere
        investigación, análisis y toma de decisiones informadas. Evalúa tus necesidades comerciales,
        investiga el mercado, considera la escalabilidad, prueba las demostraciones, evalúa la
        seguridad, el soporte técnico y calcula el costo total. Al hacerlo, podrás seleccionar un
        software que se ajuste a tus necesidades, mejore la eficiencia de tu negocio y contribuya a
        su crecimiento y éxito a largo plazo.
      </p>

      <!-- Texto con enlaces -->
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        En
        <a href="#" target="_blank" class="text-blue-500 hover:text-blue-700"> SISTEMAS PERU WEB </a
        >, te ofrecemos soluciones a medida que se adaptan a tus necesidades específicas.
        <a href="#" target="_blank" class="text-blue-500 hover:text-blue-700"> ¡CONTÁCTANOS! </a>
        ¿Listo para optimizar tu negocio con un software a medida?
      </p>

      <!-- Botón Ver más publicaciones-->
      <li class="flex justify-center">
        <a
          [routerLink]="'/blog'"
          class="rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-800"
        >
          Ver más publicaciones
        </a>
      </li>
    </section>

    <!-- Formulario -->
    <aside
      class="sticky top-8 h-fit rounded-lg bg-white p-6 shadow-lg lg:w-1/3 dark:bg-gray-800 dark:text-white"
    >
      <h2 class="mb-4 text-center text-xl font-bold">Trabajemos en tu proyecto</h2>
      <form id="contact-form" class="space-y-4">
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Empresa</span>
          <input
            type="text"
            placeholder="Empresa"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          />
        </label>
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Dirección de correo electrónico</span>
          <input
            type="email"
            placeholder="Correo electrónico"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          />
        </label>
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Mensaje</span>
          <textarea
            placeholder="Mensaje"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          ></textarea>
        </label>
        <button
          type="submit"
          class="w-full rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-800 dark:bg-blue-700 dark:hover:bg-blue-600"
        >
          Contactar con nosotros
        </button>
      </form>
      <article class="mt-8 rounded-lg bg-gray-50 p-4 shadow dark:bg-gray-700 dark:text-white">
        <h4 class="mb-4 font-bold text-gray-800 dark:text-gray-200">
          Conoce más de nuestra agencia
        </h4>
        <a
          href="../wp-content/uploads/2023/04/Brochure-Informacion-de-Agencia-Sistemas-Peru-Web.pdf"
          class="block rounded-lg bg-blue-600 px-4 py-2 text-center text-white hover:bg-blue-800 dark:bg-blue-700 dark:hover:bg-blue-600"
          download
        >
          Descargar brochure
        </a>
      </article>
    </aside>

    <!-- Alerta -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Asegúrate de que el formulario exista cuando el script se ejecute
        document.getElementById('contact-form').addEventListener('submit', function (e) {
          e.preventDefault();

          // Validar si todos los campos están llenos
          if (this.checkValidity()) {
            // Mostrar el mensaje de éxito con SweetAlert
            Swal.fire({
              title: '¡Éxito!',
              text: 'Te has contactado con nosotros, espera nuestro mensaje.',
              icon: 'success',
              confirmButtonText: 'Cerrar',
              background: '#fff', // Fondo blanco para el modo claro
              iconColor: '#4CAF50', // Color verde para el ícono
              customClass: {
                popup: 'dark:bg-gray-800 dark:text-white', // Ajusta el fondo y texto del modal en modo oscuro
              },
            });

            // Limpiar el formulario después de mostrar el alert
            this.reset();
          }
        });
      });
    </script>
  </article>
</section>
