<section
  class="bg-blue-700 bg-opacity-90 px-8 py-16 text-white dark:bg-blue-900 dark:bg-opacity-90 dark:text-gray-300"
></section>
<section class="bg-gray-50 px-4 py-16 dark:bg-gray-800 dark:text-white">
  <article class="mx-auto flex max-w-7xl flex-col gap-8 lg:flex-row">
    <!-- Contenido principal -->
    <section class="flex-1">
      <!-- Título principal -->
      <h1 class="mb-6 text-center text-2xl font-bold dark:text-gray-100">
        Como saber que tipo de página web necesito
      </h1>
      <!-- Imagen principal -->
      <figure>
        <img
          src="assets/imgT/T3.jpg"
          alt="Automatización de procesos"
          class="h-70 w-full object-cover"
        />
      </figure>
      <!-- Redes sociales con íconos -->
      <ul class="flex justify-center gap-4 py-4">
        <!-- Facebook -->
        <li>
          <a
            href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;t=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado"
            class="flex items-center rounded bg-blue-600 px-4 py-2 text-white transition hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-facebook-f mr-2"></i>
            Facebook
          </a>
        </li>
        <!-- Twitter -->
        <li>
          <a
            href="http://twitter.com/share?text=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado&amp;url=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;via=@sistemasperuweb"
            class="flex items-center rounded bg-blue-400 px-4 py-2 text-white transition hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-twitter mr-2"></i>
            Twitter
          </a>
        </li>
        <!-- LinkedIn -->
        <li>
          <a
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fsistemasperuweb.com%2Fweb%2Fautomatizacion-procesos-software-personalizado%2F&amp;title=Automatizaci%C3%B3n%20de%20procesos%20con%20un%20software%20personalizado"
            class="flex items-center rounded bg-blue-800 px-4 py-2 text-white transition hover:bg-blue-900 dark:bg-blue-900 dark:hover:bg-blue-800"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-linkedin-in mr-2"></i>
            LinkedIn
          </a>
        </li>
      </ul>
      <!-- Descripcion principal -->
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Determinar qué tipos de página web necesitas en el mundo digital actual, es esencial para
        tener una presencia en línea en cualquier negocio o proyecto. Una de las primeras decisiones
        que debes tomar al embarcarte en la creación de tu sitio web es verificar la amplia gama de
        opciones disponibles, cada una con sus propias características y ventajas. En este blog, te
        proporcionaremos una guía completa para ayudarte a comprender y elegir el tipo de página web
        que mejor se adapte a tus necesidades.
      </p>

      <!-- Funte de la Imagenn -->
      <figure class="mb-6">
        <img
          src="assets/imgT/Tc.jpg"
          alt="10 mejores empresas de desarrollo de software"
          class="mx-auto w-3/4 rounded-lg"
        />
        <figcaption class="text-center text-sm text-gray-500 dark:text-gray-400">
          ¿Cuántas personas verifican la información que consultan en internet?. Fuente:
          <a
            href="https://es.statista.com/grafico/27146/porcentaje-de-personas-que-verificaron-informacion-encontrada-en-sitios-web-de-noticias-o-redes-sociales-en-los-ultimos-3-meses/"
            target="_blank"
            class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500"
          >
            statista
          </a>
        </figcaption>
      </figure>

      <!-- Subtítulo -->
      <h2 class="mb-4 text-xl font-bold">Importancia de las páginas webs.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        En la actualidad, es imprescindible que tu marca esté presente en Internet para que tu
        público objetivo tenga conocimiento de tu existencia. Es fundamental ajustar el propósito de
        tu negocio a los distintos tipos de sitios web para identificar aquellos que brindan mejores
        resultados. ¿Sabías que, según la plataforma de datos Live Stats, existen 1.700 millones de
        sitios web en todo el mundo? ¡Ha llegado el momento de actuar y darte a conocer en la red!
        Sigue leyendo para descubrir cómo se clasifican las páginas web.
      </p>

      <!-- Contenido General -->
      <h2 class="mb-4 text-xl font-bold">Guía para elegir tu página web.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        La creación de un sitio web exitoso requiere de un enfoque estratégico y planificado. Esta
        guía proporciona una estructura y un proceso paso a paso que ayuda a organizar tus ideas y
        los elementos necesarios para construir una página web efectiva.
      </p>

      <h2 class="mb-4 text-xl font-bold">1. Define tus objetivos.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Antes de elegir entre los tipos de página web, es crucial que tengas claridad sobre los
        objetivos que deseas alcanzar con tu sitio. Algunas posibles metas podrían incluir: vender
        productos en línea, promocionar servicios, compartir información, construir una comunidad en
        línea, generar leads, etc. Al tener claridad sobre tus objetivos, podrás determinar qué
        características y funcionalidades son necesarias para tu página web.
      </p>
      <h2 class="mb-4 text-xl font-bold">2. Consideraciones técnicas.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Además del propósito y las características específicas de tu sitio, es importante tener en
        cuenta las consideraciones técnicas. ¿Tienes conocimientos de desarrollo web? ¿Deseas
        mantener y actualizar el sitio tú mismo o prefieres contratar a un desarrollador? Estas
        preguntas pueden influir en la elección de la plataforma o el CMS (Sistema de Gestión de
        Contenidos) que elijas para tu página web.
      </p>
      <h2 class="mb-4 text-xl font-bold">3. Diseño y experiencia del usuario.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        La apariencia y la experiencia del usuario son aspectos clave para el éxito de tu página
        web. Piensa en el diseño que mejor se adapte a tu marca y en cómo deseas que los visitantes
        interactúen con tu sitio. Un diseño intuitivo y fácil de navegar ayudará a los usuarios a
        encontrar la información que buscan y aumentará la probabilidad de que realicen acciones
        deseadas, como hacer una compra o completar un formulario de contacto.
      </p>
      <h2 class="mb-4 text-xl font-bold">5. Analiza tu público objetivo.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Antes de decidir entre los tipos de página web que necesitas, es fundamental comprender a
        quién te diriges. Ejecuta una investigación de mercado para identificar las características
        demográficas, intereses y comportamientos de tu audiencia objetivo. Esto te ayudará a
        adaptar tu página web a las necesidades y preferencias de tu público, asegurando una
        experiencia relevante y atractiva.
      </p>
      <h2 class="mb-4 text-xl font-bold">6. Considera tu presupuesto.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        El costo puede ser un factor determinante en la elección del tipo de página web. Evalúa tu
        presupuesto y analiza los gastos asociados, como el desarrollo inicial, el alojamiento, el
        mantenimiento y las actualizaciones. Esto te permitirá tomar una decisión informada y buscar
        opciones que se ajusten a tus recursos financieros.
      </p>
      <h2 class="mb-4 text-xl font-bold">7. Evalúa la escalabilidad.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Piensa a largo plazo y considera la escalabilidad de tu página web. ¿Planeas expandir tu
        negocio o agregar más funcionalidades en el futuro? Es importante elegir una plataforma o
        CMS que permita el crecimiento y la incorporación de nuevas características sin
        dificultades. La escalabilidad te asegurará que tu página web pueda adaptarse a medida que
        tu negocio evoluciona.
      </p>
      <h2 class="mb-4 text-xl font-bold">8. Investiga a tus competidores.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Realiza un análisis de tus competidores directos e indirectos que ya tienen presencia en
        línea. Examina sus páginas web y evalúa qué tipo de páginas utilizan. Esto te brindará una
        visión más clara de lo que funciona en tu industria y te ayudará a tomar decisiones
        informadas sobre el tipo de página web que necesitas para destacarte y diferenciarte.
      </p>
      <h2 class="mb-4 text-xl font-bold">Conclusión.</h2>
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        Elegir entre los tipos de página web adecuado es un paso crucial en la creación de tu
        presencia en línea. Al definir tus objetivos, considerar las opciones disponibles y tener en
        cuenta las consideraciones técnicas, podrás tomar una decisión informada. Recuerda que tu
        elección debe estar alineada con tus necesidades, el tipo de contenido que deseas compartir
        y la experiencia que deseas ofrecer a tus visitantes.
      </p>

      <!-- Texto con enlaces -->
      <p class="mb-6 text-justify text-black dark:text-gray-300">
        En
        <a href="#" target="_blank" class="text-blue-500 hover:text-blue-700"> SISTEMAS PERU WEB </a
        >, ¡Juntos podemos hacer grandes cosas!.
        <a href="#" target="_blank" class="text-blue-500 hover:text-blue-700"> ¡CONTÁCTANOS! </a>
        ¡Descubre qué tipo de página web necesitas hoy mismo!
      </p>

      <!-- Botón Ver más publicaciones-->
      <footer class="flex justify-center">
        <a
          href="./blogF.html"
          class="rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-800"
        >
          Ver más publicaciones
        </a>
      </footer>
    </section>

    <!-- Formulario -->
    <aside
      class="sticky top-8 h-fit rounded-lg bg-white p-6 shadow-lg lg:w-1/3 dark:bg-gray-800 dark:text-white"
    >
      <h2 class="mb-4 text-center text-xl font-bold">Trabajemos en tu proyecto</h2>
      <form id="contact-form" class="space-y-4">
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Empresa</span>
          <input
            type="text"
            placeholder="Empresa"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          />
        </label>
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Dirección de correo electrónico</span>
          <input
            type="email"
            placeholder="Correo electrónico"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          />
        </label>
        <label class="block">
          <span class="text-gray-700 dark:text-gray-300">Mensaje</span>
          <textarea
            placeholder="Mensaje"
            class="mt-1 block w-full rounded-md border px-4 py-2 focus:ring focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
            required
          ></textarea>
        </label>
        <button
          type="submit"
          class="w-full rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-800 dark:bg-blue-700 dark:hover:bg-blue-600"
        >
          Contactar con nosotros
        </button>
      </form>
      <article class="mt-8 rounded-lg bg-gray-50 p-4 shadow dark:bg-gray-700 dark:text-white">
        <h4 class="mb-4 font-bold text-gray-800 dark:text-gray-200">
          Conoce más de nuestra agencia
        </h4>
        <a
          href="../wp-content/uploads/2023/04/Brochure-Informacion-de-Agencia-Sistemas-Peru-Web.pdf"
          class="block rounded-lg bg-blue-600 px-4 py-2 text-center text-white hover:bg-blue-800 dark:bg-blue-700 dark:hover:bg-blue-600"
          download
        >
          Descargar brochure
        </a>
      </article>
    </aside>

    <!-- Alerta -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Asegúrate de que el formulario exista cuando el script se ejecute
        document.getElementById('contact-form').addEventListener('submit', function (e) {
          e.preventDefault();

          // Validar si todos los campos están llenos
          if (this.checkValidity()) {
            // Mostrar el mensaje de éxito con SweetAlert
            Swal.fire({
              title: '¡Éxito!',
              text: 'Te has contactado con nosotros, espera nuestro mensaje.',
              icon: 'success',
              confirmButtonText: 'Cerrar',
              background: '#fff', // Fondo blanco para el modo claro
              iconColor: '#4CAF50', // Color verde para el ícono
              customClass: {
                popup: 'dark:bg-gray-800 dark:text-white', // Ajusta el fondo y texto del modal en modo oscuro
              },
            });

            // Limpiar el formulario después de mostrar el alert
            this.reset();
          }
        });
      });
    </script>
  </article>
</section>
