<main class="main relative">
  <!-- Seccion Hero -->
  <app-hero></app-hero>

  <!-- Sobre nosotros section -->
  <app-about></app-about>

  <!-- Servicios section -->
  <app-services> </app-services>

  <!-- Video intro section -->
  <app-video-intro></app-video-intro>

  <!-- Portfolio section -->
  <app-projects></app-projects>

  <!-- Llamado a la acción section -->
  <section id="call-action" class="section-area !bg-primary !text-primary-color">
    <div class="container">
      <div class="mx-auto max-w-[550px] text-center">
        <h2 class="mb-8 text-inherit">Transformamos ideas en soluciones digitales innovadoras</h2>
        <p class="mb-8">
          Impulsamos el crecimiento de tu negocio a través de tecnología de vanguardia y soluciones
          personalizadas. Nuestro equipo de expertos está listo para convertir tus desafíos en
          oportunidades digitales.
        </p>
        <div class="flex justify-center gap-4">
          <a
            [routerLink]="'/contacto'"
            class="inline-block rounded-md bg-white px-6 py-3 font-semibold text-primary transition-colors hover:bg-gray-100"
            role="button"
          >
            Agenda una consulta
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Equipo section -->
  <app-team></app-team>

  <!-- Testimonios section -->
  <app-testimonial></app-testimonial>

  <!-- Clientes section -->
  <app-client></app-client>

  <!-- FAQ section -->
  <app-faq></app-faq>
</main>
