<section class="bg-white">
  <section class="inicio-area">
    <section class="fade-in-card fade-in-normal contenido py-12">
      <canvas class="particleCanvas"></canvas>
      <div class="container mx-auto px-6 text-center md:px-12 md:text-left lg:px-16">
        <div class="flex flex-col items-center justify-between md:flex-row">
          <!-- Texto -->
          <div class="space-y-4 md:w-1/2">
            <h1 class="text-3xl font-bold text-blue-800">DISEÑO DE PÁGINAS WEB</h1>
            <p class="text-gray-600">
              Creamos páginas web visualmente impresionantes que atraen a los visitantes. Nuestro
              equipo de diseño de páginas web se destaca en la construcción de páginas que ofrecen
              un diseño atractivo, flexibilidad óptima y facilidad de uso.
            </p>
            <p class="text-gray-600">
              Tenemos planes desde <span class="font-bold">S/1180.</span> Diseños modernos y
              administrables.
            </p>
            <!-- Botones -->
            <div class="flex justify-center space-x-4 md:justify-start">
              <a
                href="#"
                class="rounded bg-cyan-500 px-6 py-2 font-medium text-white hover:bg-cyan-600"
              >
                COMUNÍCATE CON NOSOTROS
              </a>
              <a
                href="#"
                class="rounded border border-cyan-500 px-6 py-2 font-medium text-cyan-500 hover:bg-cyan-500 hover:text-white"
              >
                VER PLANES
              </a>
            </div>
          </div>
          <!-- Imagen -->
          <div class="mt-8 flex justify-center md:mt-0 md:w-1/2">
            <img
              src="./assets/img/icons/computadora.jpg"
              alt="Diseño Web"
              class="max-w-xs md:max-w-md"
            />
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="servicios-area">
    <section
      class="fade-in-card fade-in-normal bg-black bg-[url('./assets/img/icons/servicios-de-paginas-web.jpg')] bg-cover bg-center py-12 text-white"
    >
      <div class="container mx-auto px-6 md:px-12 lg:px-16">
        <h2 class="text-glow mb-8 text-center text-2xl font-bold">SERVICIOS DE PÁGINA WEB</h2>
        <div class="grid grid-cols-2 gap-8 md:grid-cols-5">
          <!-- Servicio 1 -->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/landing-page.png"
              alt="Landing Page"
              class="pulse h-12 w-12"
            />
            <p>Landing Page</p>
          </div>
          <!-- Servicio 2 -->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/mantenimiento-web.png"
              alt="Mantenimiento Web"
              class="pulse h-12 w-12"
            />
            <p>Mantenimiento Web</p>
          </div>
          <!-- Servicio 3 -->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/catalogo-online.png"
              alt="Catálogo Online"
              class="pulse h-12 w-12"
            />
            <p>Catálogo Online</p>
          </div>
          <!-- Servicio 4 -->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/tiendas-virtuales.png"
              alt="Tiendas Virtuales"
              class="pulse h-12 w-12"
            />
            <p>Tiendas Virtuales</p>
          </div>
          <!-- Servicio 5 -->
          <div class="flex flex-col items-center space-y-2">
            <img src="./assets/img/icons/s2.png" alt="Seguridad" class="pulse h-12 w-12" />
            <p>Seguridad</p>
          </div>
          <!-- Servicio 6 -->
          <div class="flex flex-col items-center space-y-2">
            <img src="./assets/img/icons/intranet.png" alt="Intranet" class="pulse h-12 w-12" />
            <p>Intranet</p>
          </div>
          <!-- Servicio 7 -->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/rediseno-web.png"
              alt="Rediseño Web"
              class="pulse h-12 w-12"
            />
            <p>Rediseño Web</p>
          </div>
          <!-- Servicio 8 -->
          <div class="flex flex-col items-center space-y-2">
            <img src="./assets/img/icons/diseno-web.png" alt="ERP" class="pulse h-12 w-12" />
            <p>Diseño Web</p>
          </div>
          <!--Servicio 9-->
          <div class="flex flex-col items-center space-y-2">
            <img
              src="./assets/img/icons/tours-virtuales-360.png"
              alt="ERP"
              class="pulse h-12 w-12"
            />
            <p>Tours virtuales</p>
          </div>
          <!--Servicio 10-->
          <div class="flex flex-col items-center space-y-2">
            <img src="./assets/img/icons/virus.png" alt="ERP" class="pulse h-12 w-12" />
            <p>ERP</p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="que-esta-incluido">
    <section class="bg-primary-light-1 py-12 dark:bg-primary-dark-1">
      <div class="container mx-auto px-6 lg:px-16">
        <!-- Título con efecto shimmer -->
        <h2
          class="fade-in-card fade-in-normal shimmer-text mb-6 text-center text-2xl font-bold lg:text-3xl"
        >
          ¿QUÉ ESTÁ INCLUIDO?
        </h2>

        <!-- Párrafo con efecto de escritura dinámica -->
        <p class="fade-in-card fade-in-normal mb-10 text-center dark:text-cyan-400">
          Un paquete de páginas web responsive y asequibles que son un punto de partida perfecto
          para empresas y profesionales que desean conectarse en línea o para aquellos que desean un
          nuevo aspecto moderno para su página web existente.
        </p>

        <!-- Listas de elementos -->
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
          <ul class="space-y-3">
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Análisis previo del negocio.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Diseño web amigable para dispositivos
              móviles y tabletas.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Página web con SEO on page.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Herramienta de edición de páginas web o CMS.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Gerente de proyecto dedicado.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Campañas de publicidad en Google y redes
              sociales.
            </li>
          </ul>

          <ul class="space-y-3">
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Diseño web personalizado.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Llamadas a la acción: chat, formularios,
              botón de WhatsApp, etc.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Integración de contenidos.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Blog gratuito para su página web.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Integración de redes sociales.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Hosting y dominio.
            </li>
          </ul>

          <ul class="space-y-3">
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Herramientas de analítica web.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Tendremos el backup de su página web de por
              vida.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Revisiones ilimitadas durante la etapa de
              diseño.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Optimización de la página web.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Entrega de su página web en archivos.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-cyan-500">✔</span>Verdadero servicio de atención al cliente.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <section class="pregunte-ahora">
    <section
      class="bg-cyan-500 bg-[url('./assets/img/icons/consulta.png')] bg-cover bg-center py-8"
    >
      <div class="container mx-auto text-center">
        <p class="fade-in-card fade-in-normal text-lg font-medium text-white lg:text-xl">
          Para una consulta gratuita y sin compromiso
        </p>
        <a
          href="#"
          class="sway fade-in-card fade-in-normal mt-4 inline-block rounded bg-blue-800 px-8 py-3 font-bold text-white shadow transition hover:bg-blue-700"
        >
          ¡Pregunte ahora!
        </a>
      </div>
    </section>
  </section>

  <section class="servicios-adicionales">
    <section
      class="bg-gray-800 bg-[url('./assets/img/icons/servicios-adicionales.png')] bg-cover bg-center py-12 text-white"
    >
      <div class="container mx-auto px-6 text-center lg:px-16">
        <h2 class="fade-in-card fade-in-normal shimmer-text mb-6 text-2xl font-bold lg:text-3xl">
          SERVICIOS ADICIONALES PÁGINA WEB
        </h2>
        <p class="fade-in-card fade-in-normal text-glow mb-8">
          Por una tarifa adicional, puede agregar estos servicios al paquete de diseño web que elija
          para personalizar aún más su paquete.
        </p>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2">
          <ul class="space-y-3">
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Registro de dominio.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Diseño de brochure.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Diseño de logo.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Marketing digital.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Diseño de tarjeta de presentación.
            </li>
          </ul>
          <ul class="space-y-3">
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Presentaciones de audio y video de la
              empresa.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Servicio de actualización de la
              página web.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Plan de contenido.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Hospedaje web dedicado.
            </li>
            <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
              <span class="mr-3 text-lg text-cyan-400">+</span>Servicio soporte para su página web.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <section class="nuestro-proceso">
    <section class="bg-primary-light-1 py-12 text-center dark:bg-primary-dark-1">
      <section class="mx-auto my-12 max-w-7xl px-4">
        <h1 class="fade-in-card fade-in-normal shimmer-text mb-10 text-center text-3xl font-bold">
          NUESTRO PROCESO EN EL DISEÑO DE PÁGINAS WEB
        </h1>
        <!-- Cuadro 1 -->
        <div
          #animatedBox
          *ngFor="let paso of [1]"
          class="animated-box mb-8 mr-auto flex max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
        >
          <div class="flex w-1/3 items-center justify-center bg-cyan-400">
            <span class="text-7xl font-bold text-white drop-shadow-lg">01</span>
          </div>

          <div class="w-2/3 bg-blue-700 p-6 text-white">
            <h2 class="mb-4 text-xl font-bold">DEFINICIÓN DEL PROBLEMA Y OBJETIVOS</h2>
            <ul class="list-inside list-disc space-y-2 text-sm">
              <li>Definir o entender los resultados que el cliente busca.</li>
              <li>
                Con el cliente discutimos su viabilidad y decidimos cuál es el camino que tomaremos
                con la página web.
              </li>
              <li>
                Si no los tiene muy claros, le ayudamos a definirlos de manera directa, concreta y
                medible.
              </li>
              <li>Revisión del Brief.</li>
            </ul>
          </div>
        </div>

        <!-- Cuadro 2 -->
        <div
          #animatedBox
          *ngFor="let paso of [2]"
          class="animated-box mb-8 ml-auto flex max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
        >
          <!-- Columna del número -->
          <div class="flex w-1/3 items-center justify-center bg-cyan-400">
            <span class="text-7xl font-bold text-white drop-shadow-lg">02</span>
          </div>
          <!-- Columna del contenido -->
          <div class="w-2/3 bg-blue-700 p-6 text-white">
            <h2 class="mb-4 text-xl font-bold">EXPERIENCIA DE USUARIO (UX)</h2>
            <ul class="list-inside list-disc space-y-2 text-sm">
              <li>Llega el momento de definir, junto con el cliente, cuál será el contenido.</li>
              <li>
                Para cada página anotamos un pequeño listado de las cosas que debería incluir.
              </li>
              <li>
                Cuando el mapa de contenidos está definido, es el turno del cliente para redactar
                los textos o, en el mejor de los casos, contratarnos para ello.
              </li>
            </ul>
          </div>
        </div>

        <!-- Cuadro 3 -->
        <div
          #animatedBox
          *ngFor="let paso of [3]"
          class="animated-box mb-8 mr-auto flex max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
        >
          <!-- Columna del número -->
          <div class="flex w-1/3 items-center justify-center bg-cyan-400">
            <span class="text-7xl font-bold text-white drop-shadow-lg">03</span>
          </div>
          <!-- Columna del contenido -->
          <div class="w-2/3 bg-blue-700 p-6 text-white">
            <h2 class="mb-4 text-xl font-bold">PROPUESTA DE DISEÑO</h2>
            <ul class="list-inside list-disc space-y-2 text-sm">
              <li>
                Trabajamos un diseño gráfico personalizado y único, ceñido a los gustos del cliente
                y/o sus socios.
              </li>
              <li>
                Creamos una experiencia visual original y que comunique los valores de la marca e
                identidad corporativa definida.
              </li>
            </ul>
          </div>
        </div>

        <!-- Cuadro 4 -->
        <div
          #animatedBox
          *ngFor="let paso of [4]"
          class="animated-box mb-8 ml-auto flex max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
        >
          <!-- Columna del número -->
          <div class="flex w-1/3 items-center justify-center bg-cyan-400">
            <span class="text-7xl font-bold text-white drop-shadow-lg">04</span>
          </div>
          <!-- Columna del contenido -->
          <div class="w-2/3 bg-blue-700 p-6 text-white">
            <h2 class="mb-4 text-xl font-bold">PROGRAMACIÓN</h2>
            <ul class="list-inside list-disc space-y-2 text-sm">
              <li>Maquetación</li>
              <li>
                Utilizamos tecnologías como PHP, CSS, HTML5, JavaScript y metodologías como SCRUM.
              </li>
              <li>Análisis y Activación.</li>
            </ul>
          </div>
        </div>

        <!-- Cuadro 5 -->
        <div
          #animatedBox
          *ngFor="let paso of [5]"
          class="animated-box mb-8 mr-auto flex max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
        >
          <!-- Columna del número -->
          <div class="flex w-1/3 items-center justify-center bg-cyan-400">
            <span class="text-7xl font-bold text-white drop-shadow-lg">05</span>
          </div>
          <!-- Columna del contenido -->
          <div class="w-2/3 bg-blue-700 p-6 text-white">
            <h2 class="mb-4 text-xl font-bold">ENTREGA</h2>
            <ul class="list-inside list-disc space-y-2 text-sm">
              <li>Fase de prueba.</li>
              <li>Fase de aprobación.</li>
              <li>Backup y entrega de los archivos.</li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="pregunte-ahora">
    <section
      class="bg-cyan-500 bg-[url('./assets/img/icons/consulta.png')] bg-cover bg-center py-8"
    >
      <div class="container mx-auto text-center">
        <p class="fade-in-card fade-in-normal text-lg font-medium text-white lg:text-xl">
          Para una consulta gratuita y sin compromiso
        </p>
        <a
          href="#"
          class="sway fade-in-card fade-in-normal mt-4 inline-block rounded bg-blue-800 px-8 py-3 font-bold text-white shadow transition hover:bg-blue-700"
        >
          ¡Pregunte ahora!
        </a>
      </div>
    </section>
  </section>
  <section class="diseno-web-personalizado">
    <section class="bg-AzulCustom contenido text-white">
      <canvas class="particleCanvas"></canvas>
      <section class="mx-auto max-w-6xl px-4 py-12">
        <!-- Resto del contenido -->
        <h1 class="fade-in-card fade-in-normal mb-10 text-center text-3xl font-bold">
          DISEÑO WEB PERSONALIZADO
        </h1>
        <div class="flex flex-col items-center gap-8 md:flex-row">
          <div class="fade-in-card fade-in-normal flex w-full justify-center md:w-1/2">
            <img
              src="./assets/img/icons/picotton.jpg"
              alt="Dispositivos con diseño web"
              class="rounded-lg"
            />
          </div>
          <div class="w-full md:w-1/2">
            <ul class="space-y-4 text-lg">
              <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
                <div
                  class="mr-4 flex h-6 w-6 items-center justify-center rounded-full bg-cyan-400 text-white"
                >
                  <span class="text-AzulCustom">✔</span>
                </div>
                Web con diseño único, interactivo y funcional
              </li>
              <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
                <div
                  class="mr-4 flex h-6 w-6 items-center justify-center rounded-full bg-cyan-400 text-white"
                >
                  <span class="text-AzulCustom">✔</span>
                </div>
                Tu nueva página web se adaptará a todos los dispositivos
              </li>
              <li class="fade-in-card fade-in-normal hover-bounce flex items-center">
                <div
                  class="mr-4 flex h-6 w-6 items-center justify-center rounded-full bg-cyan-400 text-white"
                >
                  <span class="text-AzulCustom">✔</span>
                </div>
                Tu página web estará diseñada para posicionarse en Google
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="opciones-para-desarrollo">
    <section class="bg-primary-light-1 text-gray-800 dark:bg-primary-dark-1">
      <section class="py-16">
        <div class="container mx-auto px-6 text-center lg:px-16">
          <!-- Título -->
          <h2 class="fade-in-card fade-in-normal shimmer-text mb-6 text-3xl font-bold">
            TIENES OPCIONES PARA <br />
            DESARROLLAR TU PÁGINA WEB
          </h2>
          <!-- Subtítulo -->
          <p class="fade-in-card fade-in-normal mb-8 text-gray-600">
            Desarrollamos una variedad de módulos, diseño HTML5 y potentes herramientas de
            administración, todo lo cual se puede personalizar para satisfacer sus necesidades.
          </p>
          <!-- Ícono de WordPress con descripción -->
          <div class="mb-12 flex flex-col items-center">
            <img
              src="./assets/img/icons/wordpress-a.jpg"
              alt="WordPress"
              class="fade-in-card fade-in-blend zoom-hover mb-6"
            />
            <p class="fade-in-card fade-in-normal text-glow dark:text-glow max-w-2xl">
              Ofrecemos desarrollo personalizado de WordPress, que incluye un conjunto completo de
              servicios de diseño y desarrollo y la capacidad de implementar una amplia gama de
              plantillas y complementos para darle a su página web de WordPress la funcionalidad que
              necesita (blog, páginas web, tiendas virtuales, portales web).
            </p>
          </div>
          <!-- Opciones de tiendas virtuales -->
          <p class="fade-in-card fade-in-normal mb-8 text-gray-600 dark:text-white">
            Las tiendas virtuales desarrolladas a medida con nuestro panel de administración y
            código en PHP o CMS de código abierto.
          </p>
          <div class="flex flex-wrap justify-center gap-6">
            <!-- Tarjeta: Magento -->
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-white p-6 shadow-md transition hover:shadow-lg"
            >
              <img src="./assets/img/icons/magento-color.jpg" alt="Magento" class="mx-auto mb-4" />
              <p class="font-bold text-gray-700">Tiendas Virtuales en Magento</p>
            </div>
            <!-- Tarjeta: PrestaShop -->
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-white p-6 shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/prestashop-color.jpg"
                alt="PrestaShop"
                class="mx-auto mb-4"
              />
              <p class="font-bold text-gray-700">Tiendas Virtuales en Prestashop</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
  <section class="cita">
    <section class="bg-[url('./assets/img/icons/frase.jpg')] bg-cover bg-center py-8">
      <div class="container mx-auto px-6 text-center lg:px-16">
        <blockquote class="fade-in-card fade-in-normal text-glow text-lg italic">
          "Que la falta de presupuesto no lo detenga, tenemos muchas opciones para desarrollar una
          web de alta calidad, contacte con nosotros y pregúntenos sobre las opciones de una web
          económica"
        </blockquote>
      </div>
    </section>
  </section>
  <section class="tecnologias-utilizadas">
    <section class="bg-primary-light-1 text-gray-800 dark:bg-primary-dark-1">
      <section class="py-16">
        <div class="container mx-auto px-6 lg:px-16">
          <!-- Título -->
          <h2 class="fade-in-card fade-in-normal shimmer-text mb-10 text-center text-3xl font-bold">
            TECNOLOGÍAS UTILIZADAS EN EL DESARROLLO DE LAS PÁGINAS WEB
          </h2>

          <!-- Grid de tecnologías -->
          <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4">
            <!-- Tarjetas de tecnología -->
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/php.jpg"
                alt="PHP"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">PHP</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/mysql.jpg"
                alt="MySQL"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">MySQL</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/jquery.jpg"
                alt="jQuery"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">jQuery</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/html5.jpg"
                alt="HTML5"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Html5</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/bootstrap.jpg"
                alt="Bootstrap"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Bootstrap</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/javascript.jpg"
                alt="JavaScript"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Javascript</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/wordpress.jpg"
                alt="WordPress"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">WordPress</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/magento.jpg"
                alt="Magento"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Magento</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/prestashop.jpg"
                alt="PrestaShop"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Prestashop</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/responsive.jpg"
                alt="Responsive"
                class="mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Responsive</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/responsive.jpg"
                alt="Web APIs"
                class="fade-in-card fade-in-blend mx-auto mb-2 mix-blend-multiply"
              />
              <p class="font-semibold dark:text-cyan-400">Web APIs</p>
            </div>
            <div
              class="zoom-hover fade-in-card fade-in-normal rounded-lg border border-cyan-400 bg-gray-100 p-4 text-center shadow-md transition hover:shadow-lg"
            >
              <img
                src="./assets/img/icons/svg.jpg"
                alt="SVG"
                class="fade-in-card fade-in-blend mx-auto mb-2"
              />
              <p class="font-semibold dark:text-cyan-400">SVG</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
